.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 5%;
  width: var(--fixedWidth);
  margin: auto;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  // position: fixed;
  // left: 0;
  // min-height: 100vh;
  min-width: 250px;
  z-index: 0;

  .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: grey;
    background-image: url(https://images.pexels.com/photos/3714743/pexels-photo-3714743.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid var(--primaryColor);
    margin-top: 50px;
  }
  .details {
    h1,
    h2 {
      font-size: 1.2rem;
      font-weight: 300;
      margin: 10px 0;
    }
    h2 {
      font-size: 0.9rem;
      font-weight: 600;
    }
  }
}
.dashboard {
  padding: 20px;
  min-height: 30vh;

  .stats {
    margin: 10px 0;

    .stat {
      width: 100%;
      min-height: 10vh;
      background: rgba(255, 192, 203, 0.486);
      border-radius: 5px;
    }
  }
}
.tableContainer {
  margin: 20px 0;
}
