.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: var(--fixedWidth);
  margin: 0 auto;
}

.container .gridContainer {
  height: 100% !important;
}

.componentToRender {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 250px;
  z-index: 0;
  overflow: hidden;
  height: 100% !important;
  padding: 1px 0;
}

.sidebar .controlContainer {
  height: 90% !important;
  padding: 10px;
  border-radius: 2px 0 0 2px !important;
  background: #004a830c;
}

.sidebar .controlContainer .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100% !important;
}

.sidebar .controlContainer .control .icon {
  margin: 15px 0;
}

.sidebar .controlContainer .control .icon svg {
  fill: rgba(5, 5, 5, 0.5) !important;
}

.sidebar .controlContainer .control .icon:nth-child(2) {
  background: white;
}

.sidebar .controlContainer .control .icon:nth-child(2) svg {
  fill: var(--primaryColor) !important;
}

.sidebar .actionPanel {
  height: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80% !important;
  padding: 20px 30px;
  border-radius: 5px 0 0 5px !important;
  background: #004a830c;
}

.sidebar .actionPanel .addNew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.sidebar .actionPanel .addNew h3 {
  color: var(--primaryColor);
  font-weight: 600;
  font-size: 0.9rem;
}

.sidebar .actionPanel .addNew .icon svg {
  fill: var(--primaryColor) !important;
}

.sidebar .actionPanel .heading {
  padding: 5px 0;
  margin: 5px 0;
}

.sidebar .actionPanel .heading h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

.sidebar .actionPanel .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.08);
  padding: 10px;
  border-radius: 10px;
}

.sidebar .actionPanel .search svg {
  fill: rgba(0, 0, 0, 0.5) !important;
  margin-left: 10px;
}

.sidebar .actionPanel .search input {
  padding: 2px 10px;
  border: none;
  outline: none;
  background: transparent !important;
  background: rgba(0, 0, 0, 0);
}

.sidebar .actionPanel .search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.sidebar .actionPanel .search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.sidebar .actionPanel .search input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.sidebar .actionPanel .search input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.sidebar .actionPanel .patientList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 10px;
}

.sidebar .actionPanel .patientList .selected {
  background: var(--primaryColor) !important;
  border-radius: 50px 10px 10px 50px !important;
  -webkit-box-shadow: 2px 2px 15px -1px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 2px 2px 15px -1px rgba(0, 0, 0, 0.1) !important;
  color: white;
}

.sidebar .actionPanel .patientList .patientContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}

.sidebar .actionPanel .patientList .patientContainer .profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid white;
}

.sidebar .actionPanel .patientList .patientContainer .nameDisease {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 15px;
}

.sidebar .actionPanel .patientList .patientContainer .nameDisease .name p {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
}

.sidebar .actionPanel .patientList .patientContainer .nameDisease .disease p {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 5px 0;
}

.sidebar .actionPanel .patientList .patientContainer:hover {
  background: rgba(0, 0, 0, 0.04);
  border-radius: 50px 10px 10px 50px;
}

.sidebar .details {
  width: 100%;
  padding: 20px;
}

.sidebar .details .name h1,
.sidebar .details .name h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.sidebar .details .name h2 {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5px;
}

.sidebar .details .about p {
  font-weight: 300;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5rem;
}

.dashboard {
  padding: 20px;
  min-height: 30vh;
  border-radius: 0 5px 5px 0 !important;
}

.dashboard .heading h1,
.dashboard .patients h1 {
  font-weight: 700;
  font-size: 1.2rem;
}

.dashboard .stats {
  margin: 10px 0;
}

.dashboard .stats .stat {
  width: 100%;
  min-height: 12vh;
  background: var(--primaryColor);
  padding: 20px;
  color: white;
}

.dashboard .stats .stat h4 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  font-size: 1rem;
}

.dashboard .stats .stat h1 {
  font-size: 4rem;
  font-weight: 800;
}

.dashboard .patients {
  margin-top: 40px;
}

.tableContainer {
  margin: 20px 0;
}

.tableContainer .tableHead {
  background: var(--primaryColor) !important;
}

.tableContainer .tableHead th {
  color: white !important;
  font-weight: 600 !important;
}

.divider {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.patientDetails {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100% !important;
}

.patientDetails ::-webkit-scrollbar {
  width: 12px;
}

.patientDetails ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.patientDetails ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
  background-color: var(--primaryColor);
}

.patientDetails p {
  padding: 0;
  margin: 0;
}

.patientDetails .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.patientDetails .header .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.patientDetails .header .name .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 10px;
}

.patientDetails .header .name .intro p {
  margin: 5px 0;
  padding: 0;
}

.patientDetails .header .iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.patientDetails .header .chat {
  background: var(--primaryColor) !important;
  border-radius: 50%;
}

.patientDetails .header .chat svg {
  fill: white !important;
}

.patientDetails .header .chat:nth-child(1) {
  margin-right: 20px;
}

.patientDetails .diagnosisHeading {
  margin-top: 30px;
}

.patientDetails .diagnosisHeading h3 {
  font-weight: 700;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}

.patientDetails .latest {
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.patientDetails .latest .latestDiagnosis {
  background: #004a8318;
  padding: 20px 20px 20px 10px;
  border-radius: 5px;
  color: var(--primaryColor);
}

.patientDetails .latest .latestDiagnosis p {
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.6;
}

.patientDetails .infoHeading {
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.7);
}

.patientDetails .info {
  width: 100%;
}

.patientDetails .info ul {
  width: 100%;
  list-style: none !important;
}

.patientDetails .info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  font-size: 0.9rem;
  margin: 10px 0;
}

.patientDetails .info ul li span {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
}

.analysisBtn {
  background: var(--primaryColor) !important;
  color: white !important;
  font-weight: 600 !important;
  margin-right: 10px !important;
}

.analysisBtn:nth-child(3) {
  margin-right: 0 !important;
}

.forMobile {
  display: none !important;
}

.showOnMobile, .swipeRight {
  display: none !important;
}

.swipeRight {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
}

@media screen and (max-width: 1650px) {
  .sidebar .controlContainer {
    height: 100% !important;
  }
  .container {
    height: 92vh;
  }
  .controlContainer,
  .actionPanel,
  .patientList {
    border-radius: 0 !important;
  }
}

.drawer {
  display: none;
}

@media screen and (max-width: 1230px) {
  .actionBtns {
    display: none !important;
  }
  .forMobile {
    display: block !important;
  }
}

.burgerMenu {
  width: 30px;
  position: fixed;
  top: 20px;
  right: 15px;
}

.burger {
  width: 100%;
  height: 5px;
  margin: 5px 0;
  background: white;
}

@media screen and (max-width: 960px) {
  .drawer {
    display: block;
  }
  .hideOnMobile {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  .showOnMobile, .swipeRight {
    display: block !important;
  }
  .patientDetails {
    padding: 20px;
  }
  .latest {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .latest .latestDiagnosis {
    width: 100%;
    margin: 10px 0 !important;
  }
  .avatar {
    width: 40px !important;
    height: 40px !important;
  }
  .controlContainer {
    display: none;
  }
  .sidebar .actionPanel {
    width: 100% !important;
  }
  .componentToRender {
    padding: 10px 0;
  }
}
/*# sourceMappingURL=Doctor.module.css.map */