{% extends "base.html" %} {% block content %}

<div class="container-card">
  <div class="card">
    <h4>Login</h4>
    <form onsubmit="formSubmit(event)">
      <label for="username">Username</label>
      <input
        required="true"
        id="username"
        name="username"
        placeholder="example@email.com"
        type="email"
        class="username-input"
      />
      <label for="password">Password</label>
      <input
        required="true"
        id="password"
        name="password"
        placeholder="********"
        type="password"
        class="password-input"
      />
      <button type="submit">Login</button>
    </form>
  </div>
  <script>
    const username = document.getElementById("username");
    const password = document.getElementById("password");
    const formSubmit = (e) => {
      e.preventDefault();
      if (
        username.value === "admin@aaiway.com" &&
        password.value === "password"
      ) {
        const element = document.createElement("a");
        element.href = "/prediction";
        setTimeout(() => {
          element.click();
          alert("Succesfully Logged In :)");
        }, 500);
      }
    };
  </script>
</div>

{% endblock %}
