.outerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../../assets/doctor-stethescope.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  min-height: 92vh;
  width: var(--fixedWidth);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.content1 h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  color: var(--primaryColor);
  margin-bottom: 10px;
}

form {
  background: transparent;
}

.input {
  min-width: 300px;
  text-align: left;
}

.inputControl {
  margin: 20px 0 !important;
}

.nextBtn .btnNext {
  background: var(--primaryColor);
  color: white;
  font-weight: 600;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

.content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 50px;
  margin: auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.content2 h3 {
  width: 100%;
}

.content2 img {
  padding: 20px;
  height: 200px;
  width: 150px;
}

[type="file"] + label {
  background: #f15d22;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: inherit;
  font-weight: 600;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: middle;
}

[type="file"] + label:hover {
  background-color: #d3460d;
}

[type="file"] + label.btn3 {
  background-color: #ee6d9e;
  border-radius: 0;
  overflow: hidden;
}

[type="file"] + label.btn3 span {
  display: inline-block;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}

[type="file"] + label.btn3::before {
  color: #fff;
  content: "\f574";
  font-family: "Font Awesome 5 Free";
  font-size: 130%;
  height: 100%;
  left: 0;
  line-height: 2.6;
  position: absolute;
  top: -180%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}

[type="file"] + label.btn3:hover {
  background-color: #ae144f;
}

[type="file"] + label.btn3:hover span {
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
}

[type="file"] + label.btn3:hover::before {
  top: 0;
}
/*# sourceMappingURL=SelectDM.module.css.map */