.outerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 400px !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.content1 h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  color: var(--primaryColor);
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

form {
  background: transparent;
}

.input {
  min-width: 300px;
  text-align: left;
}

.inputControl {
  margin: 20px 0 !important;
}

.submitBtn {
  width: 300px;
}

.submitBtn .btnSubmit {
  background: var(--primaryColor);
  color: white;
  font-weight: 600;
  width: 100%;
  margin: 10px 0;
}

.nextButton i {
  font-size: 2rem;
  color: var(--primaryColor);
}

.outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  padding: 10px 50px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: auto;
}

.content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
  padding-top: 20px;
  margin-left: 100px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.content2 h3 {
  width: 100%;
}

.content2 img {
  max-height: 200px;
  width: auto;
  margin: auto;
  border-radius: 5px;
}

.inputBtn {
  border-radius: 20px !important;
}

.rightActive {
  -webkit-transform: translateX(-400px) !important;
          transform: translateX(-400px) !important;
}

.imageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  width: 100%;
  height: 210px;
  padding: 10px;
  background: white;
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 10px 0;
}

.backBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 0;
}

.backBtn Button {
  background: var(--primaryColor);
}

.result {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}
/*# sourceMappingURL=SelectDM.module.css.map */