nav {
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0;
}
.navContainer {
  width: 100%;
  background: var(--primaryColor) !important;
  border-radius: 0 !important;
}
.outerNav {
  display: flex;
  justify-content: space-around;
  width: var(--fixedWidth);
  margin: auto;
  align-items: center;
  min-height: 8vh;
}
.navLinks {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 30%;
}
.navLink {
  list-style: none;
  color: white !important;
}
.logo {
  text-transform: uppercase;
  flex: 1;
  h2 {
    font-weight: 800 !important;
    color: white;
    letter-spacing: 2px;
  }
}
.noDecoration {
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in-out;
  &:hover {
    color: rgba(230, 25, 86, 0.8);
  }
}
